<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hk.ansboard.daos">
	<resultMap type="com.hk.ansboard.dtos.AnsDto" id="AnsDtoMap">
		<result property="seq"     column="SEQ"/>
		<result property="id"      column="ID"/>
		<result property="title"   column="SUB_TITLE"/>
		<result property="content" column="CONTENT"/>
		<result property="regdate" column="REGDATE"/>
		<result property="refer"   column="REFER"/>
		<result property="step"    column="STEP"/>
		<result property="depth"   column="DEPTH"/>
		<result property="readcount" column="READCOUNT"/>
		<result property="delflag" column="DELFLAG"/>
<!-- 		<collection property="useDto" resultMap="useDtoMap" /> -->
	</resultMap>

<!-- 	<resultMap type="com.hk.dtos.UserDto" id="useDtoMap"> -->
<!-- 		<result property="id" column="ID" /> -->
<!-- 		<result property="name" column="NAME" /> -->
<!-- 		<result property="password" column="PASSWORD" /> -->
<!-- 	</resultMap> -->
	
	
	<select id="getAllList" parameterType="Map"  resultMap="AnsDtoMap">
		SELECT SEQ, ID, TITLE as 'sub_title', CONTENT, REGDATE, REFER,STEP, DEPTH,READCOUNT,DELFLAG 
		 FROM (	
				SELECT ROW_NUMBER() OVER(ORDER BY REFER DESC,STEP) RN, 
				       SEQ, ID, TITLE, CONTENT, REGDATE, REFER,STEP, DEPTH,READCOUNT,
				       DELFLAG 
				FROM ANSWERBOARD 
				) A 
		<where>		
		<choose>
			<when test="seq!=null">
					SEQ=#{seq}	
			</when>
			<otherwise>
					CEIL(RN/10)=#{pnum}
			</otherwise>
		</choose>
		</where>
	</select>
	
	<select id="getPCount" resultType="int">
		SELECT CEIL(COUNT(*)/10) FROM ANSWERBOARD   
	</select>
	
	<insert id="insertBoard">
		INSERT INTO ANSWERBOARD 
		 VALUES(null,#{id},#{title},#{content},SYSDATE(), 
		(SELECT NVL(MAX(REFER),0)+1 FROM ANSWERBOARD ALIAS_FOR_SUBQUERY),0,0,0,'N') 
	</insert>
  	
  	<update id="updateBoard" parameterType="ansDto">
  		UPDATE ANSWERBOARD 
		SET TITLE=#{title} ,CONTENT=#{content} , REGDATE=SYSDATE() 
		WHERE SEQ=#{seq} 
  	</update>
     
    <update id="readCount" parameterType="int">
   	  <![CDATA[ 
    	UPDATE ANSWERBOARD 
		SET READCOUNT=READCOUNT+1 
		WHERE SEQ=#{seq}
	  ]]>
    </update> 
    
    <update id="replyUpdate" parameterType="ansDto">
    	<![CDATA[ 
	    	UPDATE ANSWERBOARD SET STEP=STEP+1 
			WHERE REFER=(SELECT REFER FROM ANSWERBOARD WHERE SEQ=#{seq}) 
			AND STEP > (SELECT STEP FROM ANSWERBOARD WHERE SEQ=#{seq})     	
    	]]>
    </update>
    
    <insert id="replyInsert" parameterType="ansDto">
    	<![CDATA[
    	INSERT INTO ANSWERBOARD1 
		 VALUES(NULL, #{id},#{title},#{content},SYSDATE() 
		      ,(SELECT REFER FROM ANSWERBOARD ALIAS_FOR_SUBQUERY WHERE SEQ=#{seq}) 
		      ,(SELECT STEP FROM ANSWERBOARD ALIAS_FOR_SUBQUERY WHERE SEQ=#{seq})+1 
		      ,(SELECT DEPTH FROM ANSWERBOARD ALIAS_FOR_SUBQUERY WHERE SEQ=#{seq})+1,0,'N')
    	]]>
    </insert>
</mapper>















