<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{thymeleaf/layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div layout:fragment="content">
<h1>상세보기</h1>
<table class="table">
		<tr>
			<th>작성자[ID]</th>
			<td th:text="${dto.id}"></td>
		</tr>
		<tr>
			<th>제목</th>
			<td th:text="${dto.title}"></td>
		</tr>
		<tr>
			<th>파일 [[${#lists.size(dto.fileBoardDto)}]]</th>
			<th:block th:if="${dto.fileBoardDto[0].origin_filename==null}">
			<td>첨부파일 없음</td>
			</th:block>
			<th:block th:unless="${dto.fileBoardDto[0].origin_filename==null}">
			<td>
				<th:block th:each="fdto:${dto.fileBoardDto}">
					<span class="glyphicon glyphicon-folder-close"></span>
				    <a th:href="@{/board/download(file_seq=${fdto.file_seq})}" 
				       th:text="${fdto.origin_filename}"></a>&nbsp;&nbsp;
			    </th:block>
			</td>
			</th:block>
		</tr>
		<tr>
			<th>내용</th>
			<td><textarea 	th:text="${dto.content}" 
							readonly="readonly" 
							class="form-control"  
							name="content" rows="10" cols="60"></textarea>
				
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<button th:onclick="|location.href='@{/board/boardUpdateForm(board_seq=${dto.board_seq})}'|" type="button" class="btn">수정</button>
				<button th:onclick="|location.href='@{/board/mulDel(chk=${dto.board_seq})}'|" type="button" class="btn">삭제</button>
				<button  class="btn"type="button" th:onclick="|location.href='@{/board/boardList}'|" >목록</button>
			</td>
		</tr>
	</table>
</div>
</body>
</html>